body {

    width: 75%;
    /* margin: 0; */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.container {
    position: relative;
    /* text-align: center; */
}

.middle {
    /* border: blue solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle img {
    background-color: white;
    margin: auto;
    border-radius: 50%;
    display: block;
    width: 200px;
}

.intro {
    /* border: blue solid; */
    margin-top: 30px;
}

.roughwork {
    width: 80%;
}

.modelRough {
    /* border: solid black; */
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modelBox {
    background-color: #d8d8d8;
}

.boxL {
    margin-top: 30px;
    width: 50%;
    float: left;
    /* border: solid red; */
}

.boxR {
    margin-top: 30px;
    /* border: solid green; */
    width: 50%;
    float: right;
}

.boxL img {
    width: 50%;
    height: auto;
}

.boxR img {
    width: auto;
    height: 38%;
}

.about {
    border: black solid;
    position: absolute;
    margin-top: 100px;
    width: 75%;

}

.fontsize {
    font-family: 'Roboto', sans-serif;
    /* font-weight: 300; */
    font-size: 22px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlayBox .overlay {
    opacity: 1;
}

.brandingDesc {
    /* border: solid red; */
    width: 75%;
}

.motionDesc {
    margin-top: 50px;
    margin-bottom: 100px;
    /* border: solid red; */

}

.descriptions {
    margin-top: 50px;
}


a.three:link {
    color: black;
}

a.three:visited {
    color: black;
}

a.three:hover {
    background: purple;
    color: white;
}


.centertext {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

@media screen and (min-width: 768px) {
    .container img {
        width: 20%;
        float: left;
    }

    video {
        width: 80%;
        height: auto;
    }
}

video {
    display: block;
    margin: auto;

}

.navbar {
    /* border: solid black; */
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100px;
    font-size: 20px;
    /* position: relative;  */
    z-index: 100;
}

.navbar-nav.navbar-center {
    position: absolute;
    /* right: 0%; */
    left: 50%;
    transform: translatex(-50%);
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link {

    text-align: right;
    background-color: white;

}

.nav-link:hover, .dropdown-item:hover {
    background-color: #dbc2db;
    transition: .3s background-color;
}

.dropdown-menu {
    width: auto;
    background-color: white;
}

.carousel {
    height: 50%;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25;
    font-weight: 400;
}

a:link {
    text-decoration: none;
}

.boxL a:hover, a:active {
    background-color: purple;
    color: white;

}

.boxR a:hover, a:active {
    background-color: purple;
    color: white;

}

p, a {
    color: black;
    font-size: 20px;
}